if TARGET_MILKV_DUO

config SYS_BOARD
	default "duo"

config SYS_VENDOR
	default "milkv"

config SYS_CPU
	default "cv1800b"

config SYS_CONFIG_NAME
	default "cv180x-asic"

config TEXT_BASE
	default 0x80200000

config CVITEK_SPI_FLASH
    bool
	prompt "Support CVITEK SPINOR"
    select SPI_FLASH
	select DM
	select DM_SPI
	select DM_SPI_FLASH
	select SPI_MEM
	select CMD_SF
    select CVI_SPIF
    select ENV_IS_IN_SPI_FLASH

config ENV_SIZE
    default 0x10000 if ENV_IS_IN_SPI_FLASH
    default 0x20000 if ENV_IS_IN_MMC
	default 0x20000 if ENV_IS_IN_NAND

config ENV_SECT_SIZE
	default 0x10000 if ENV_IS_IN_SPI_FLASH
	default 0x40000 if ENV_IS_IN_MMC
	default 0x20000 if ENV_IS_IN_NAND

config ENV_OFFSET
    default 0x3A0000 if ENV_IS_IN_SPI_FLASH
    default 0x880000 if ENV_IS_IN_MMC
	default 0xae0000 if ENV_IS_IN_NAND

config ENV_OFFSET_REDUND
    default 0x3B0000 if ENV_IS_IN_SPI_FLASH
	default 0xb00000 if ENV_IS_IN_NAND

config BOARD_SPECIFIC_OPTIONS
	def_bool y
	select RISCV_CVITEK
	select SOPHGO_CV1800B
	select CPU
	select CPU_RISCV

endif
